{% extends "base.html" %}

{% block title %}Home - Chaimongkol Inpanya Portfolio{% endblock title %}

{% block body %}
<section id="home">
  <div class="text-center">
    <h1>Home</h1>
    <p>Welcome to my Data Science and Analytics portfolio!</p>
    {% if results %}
      <h2>Prediction Result: {{ results }}</h2>
    {% endif %}
    {% if graph_html %}
      <div>{{ graph_html|safe }}</div>
    {% endif %}
    <!-- Optionally, include a form or other content here -->
  </div>
</section>
{% endblock body %}
