{% extends "base.html" %}

{% block title %}Projects - Chaimongkol Inpanya Portfolio{% endblock title %}

{% block body %}
<section id="projects">
  <div class="text-center">
    <h1>Projects</h1>
    <p>Here are some of my projects:</p>
    <ul class="list-unstyled">
      <li><strong>Final Year Capstone Project:</strong> Data Analysis & Business Insights for a SET-listed company.</li>
      <li><strong>Ongoing Learning & Personal Projects:</strong> Udemy courses on Data Science and Django CMS based web development.</li>
      <!-- Add more projects as needed -->
    </ul>
  </div>
</section>
{% endblock body %}
